body{
    background-color: bisque;

}
h1{
    text-align: center;
    text-decoration: black underline;

}


form{
    text-align: left;
    border-color: orange;
    border-style: solid;
    border-width: 5px;
    max-width: 750px;
    width:100%;
    margin: 50px auto;
    background-color: #FFF5F2 ;
    overflow: hidden;
}

form .eingabe {
    width: 350px;
    float: right;
    clear:both;
}

form .eingabe label{
    width:200px;
    margin-right: 10px;
    font-size: 14px;

}

input{
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: lightgray;
}

.bemerkungen textarea{
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: lightgray;
    width: 180px;
    height: 120px;

}

.geschlecht {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     align-items: flex-end;

}

.formular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 1px;
}

select{
    height: 40px;
    width: 370px;

}

.geschlecht2{
    float: left;
    padding-top: 50px;
}

button{
    background-color: dimgray;
    padding: 20px 40px;
    color: white;
    border-radius: 5px;
    border-color: transparent;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 1px;

}
.radio1{
    padding: 13px;

}
label{
    padding-left: 10px;
}
